/* @import url('https://fonts.googleapis.com/css2?family=Gentium+Book+Plus:ital,wght@0,400;0,700;1,400;1,700&display=swap'); */

/* Reset default margins and padding */
html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100dvh;
  overflow: hidden;
  box-sizing: border-box;
  background-color: #ccd5ae;
}

.base {
  width: 100%;
  height: 100dvh;
  display: flex; 
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #ccd5ae;
  overflow: hidden;
}

.content {
  text-align: center;
}

.master {
  display: flex;
  width: 1280px;
  height: 35vw;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.search_parent {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100%;
  padding: 20px;
  box-sizing: border-box;
}

.card_parent {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 20px;
  box-sizing: border-box;
}

.search_heading {
  display: flex;
  height: 110px;
  flex-direction: column;
  justify-content: center;
  align-self: stretch;
  text-align: left;
  margin-bottom: 10px;
}

.search_heading h1 {
  color: #000;
  font-family: "Gentium Book Basic";
  font-size: 56px;
  font-style: italic;
  font-style: normal;
  font-weight: 400;
  margin: 0;
}

.search_heading h1 em {
  color: #000;
  font-family: 'Gentium Book Plus', serif;
  font-size: 56px;
  font-style: italic;
  font-weight: 400;
  line-height: normal;
}

.search_subheading {
  display: flex;
  height: 28px;
  flex-direction: column;
  justify-content: center;
  align-self: stretch;
  text-align: left;
}

.search_subheading h4 {
  color: #6C6C6C;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
}


.made_with_love {
  position: absolute;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 10px;
  margin-bottom: 15px;
  font-family: 'Gentium Book Plus', serif;
  font-weight: 500;
  line-height: normal;
}

.made_with_love em {
  color: #000;
  font-family: 'Gentium Book Plus', serif;
  font-style: italic;
  font-weight: 400;
  margin-left: 4px;
  margin-right: 4px;
}

@media (max-width: 768px) {
  .base {
    min-height: 100vh !important;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .master {
    display: flex;
    flex-direction: column;
    height: 100%;
    min-height: 90vh;
    width: 90vw;
    padding: 10px;
    justify-content: center;
    align-items: center;
    margin-left: 7px;
  }

 
  .search_heading {
    height: auto;
    width: 95%;
    text-align: center;
    margin-bottom: 10px;
    padding: 0;
    align-self: center;
  }

  .search_heading h1 {
    font-size: 26px;
    text-align: center;
  }

  .search_heading h1 em {
    color: #000;
    font-family: 'Gentium Book Plus', serif;
    font-size: 26px;
    font-style: italic;
    font-weight: 400;
    line-height: normal;
  }

  .search_subheading {
    display: none;
  }

  .search_subheading h4 {
    display: none;
  }

  .search_parent {
    flex: 0.3;
    width: 100%;
    height: auto;
    padding: 10px;
    justify-content: start;
  }

  .made_with_love {
    position: relative;
    bottom: auto;
    width: 100%;
    text-align: center;
    padding: 10px;
    font-size: 14px;
  }
}

/* iPads (Portrait & Landscape) */
@media (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
  .base {
    min-height: 100vh !important;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .master {
    display: flex;
    flex-direction: column;
    height: 100%;
    min-height: 100vh;
    width: 100vw;
    padding: 10px;
    justify-content: center;
    align-items: center;
    margin-left: 7px;
  }

  .search_parent {
    /* background-color: red; */
    flex: 0.3;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: auto;
    padding: 20px;
    box-sizing: border-box;
    /* margin-top: 30px; */
  }
  
  .card_parent {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 20px;
    box-sizing: border-box;
  }
 
  .search_heading {
    /* background-color: green; */
    height: auto;
    width: 100%;
    text-align: center;
    margin-bottom: 10px;
    padding-top: 40px;
    align-self: center;
  }

  .search_heading h1 {
    font-size: 40px;
    text-align: center;
  }

  .search_heading h1 em {
    color: #000;
    font-family: 'Gentium Book Plus', serif;
    font-size: 40px;
    font-style: italic;
    font-weight: 400;
    line-height: normal;
  }

  .search_subheading {
    display: flex;
    height: 28px;
    flex-direction: column;
    justify-content: center;
    align-self: stretch;
    text-align: center;
    margin-top: 10px;
  }

  .search_subheading h4 {
    color: #6C6C6C;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 25px;
    font-style: normal;
    font-weight: 500;
    line-height: 32px;
  }

  .made_with_love {
    position: relative;
    bottom: auto;
    width: 100%;
    text-align: center;
    padding: 10px;
    font-size: 14px;
  }
}

@media (min-device-width: 768px) and (max-device-width: 1180px) and (orientation: landscape) {
  .base {
    min-height: 100vh !important;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .master {
    display: flex;
    height: 100%;
    min-height: 100vh;
    width: 100vw;
    padding: 10px;
    justify-content: center;
    align-items: center;
    margin-left: 7px;
  }

  .search_parent {
    /* background-color: red; */
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: auto;
    padding: 20px;
    box-sizing: border-box;
    /* margin-top: 30px; */
  }
  
  .card_parent {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 20px;
    box-sizing: border-box;
  }
 
  .search_heading {
    /* background-color: green; */
    height: auto;
    width: 80%;
    text-align: center;
    margin-bottom: 10px;
    padding-top: 40px;
    align-self: center;
  }

  .search_heading h1 {
    font-size: 35px;
    text-align: center;
  }

  .search_heading h1 em {
    color: #000;
    font-family: 'Gentium Book Plus', serif;
    font-size: 35px;
    font-style: italic;
    font-weight: 400;
    line-height: normal;
  }

  .search_subheading {
    display: flex;
    height: 28px;
    flex-direction: column;
    justify-content: center;
    align-self: stretch;
    text-align: center;
    margin-top: 10px;
  }

  .search_subheading h4 {
    color: #6C6C6C;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 32px;
  }

  .made_with_love {
    position: relative;
    bottom: auto;
    width: 100%;
    text-align: center;
    padding: 10px;
    font-size: 14px;
  }
}